{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

  <div class="container py-5">
    <h1>Привет, я автор</h1>
    <p style="margin-bottom: 30px">
      Мой аккаунт GitHub <a href='https://github.com/HaRumiCoder'> HaRumiCoder </a>
    </p>
    
    <h4>Кто я?</h4>
    <p style="margin-bottom: 30px">
      Я - Соня, учусь делать такие классные штуки, как yatube <br>
      Кстати я еще школьница, поэтому ссылки на резюме здесь не будет) <br>
    </p>

    <h4>Про обучение</h4>
    <p style="margin-bottom: 20px">
      Сейчас идет 4 спринт моего обучения в Яндекс Практикуме <br>
      Сложно параллельно с школой, но пока успеваю <br>
      И как же я туда пришла?<br>
      До этого я только скучала на уроках информатики с задачами по питону в 1 строку <br>
      А позже нашла шикарный сайт - Codewars, вот мой <a href='https://www.codewars.com/users/HaRumiCoder'> аккаунт,</a> посмотрите на мой kyu!<br>
    </p>  

    

    <p>
  </div>
  
{% endblock %} 